[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
fastapi = "*"
fastapi-utils = "*"
jsonlines = "*"
numpy = "*"
pgvector = "*"
python-dotenv = "*"
requests = "*"
rich = "*"
sentence-transformers = ">=4.1.0"
typing-inspect = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
ipython = "*"
ruff = "*"

[requires]
python_version = "3.12"
