[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
fastapi = "*"
fastapi-utils = "*"
joblib = ">=1.3.2"
jsonlines = "*"
numpy = "*"
optimum = "*"
pandas = "*"
pgvector = "*"
python-dotenv = "*"
rich = "*"
scipy = "*"
sentence-transformers = ">=4.1.0"
scikit-learn = "*"
typing-inspect = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
ipython = "*"
ruff = "*"

[requires]
python_version = "3.10"
